#case-section {
    padding-top: 60px;
    padding-bottom: 90px;
}

.case-header {
    grid-column: 1/9;
    text-align: center;
    /* margin-top: 90px; */
}

.image-accordion {
    display: flex;
    gap: 10px;
    cursor: pointer;
    width: 100%;
    flex-grow: 1;
    grid-column: 1/9;
    margin: 20px 0 20px 0;
}

article {
    position: relative;
    overflow: hidden;
    width: 30px;
    height: 80vh;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
    opacity: 0.5;
    transition: 0.5s;
}

article:hover {
    opacity: 0.75;
}

article.active {
    width: 100%;
    opacity: 1;
}

article.active .content {
    opacity: 1;
    visibility: visible;
}

article .content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    padding: 20px 20px 20px 20px;
    display: flex;
    gap: 14px;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
    ); /* Semi-transparent black overlay */
    transition: 0.25s;
    flex-direction: column;
    text-align: center;
}

article img {
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 100%;
    width: 100%;
    filter: grayscale(0.6);
}

.white-color {
    color: #ddcecd;
}

.read-more-btn {
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    border: 1px solid #ddcecd;
    transition: 0.3s;
}

.item-skills {
    font-size: 0.8em;
}

button.read-more-btn {
    width: 100px;
}

.read-more-btn:hover {
    background-color: #ddcecd;
    color: #222328;
    transition: 0.3s;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.5em;
}
@media screen and (min-width: 620px) {
    .button-container {
        justify-content: flex-start;
    }
    article .content {
        text-align: left;
    }
    article {
        width: 64px;
    }
}
/* Large tablets and laptop styles */
@media screen and (min-width: 960px) {
}

/* Desktop styles */
@media screen and (min-width: 1200px) {
}
