.landing-page {
    align-items: center;
    height: 95vh;
}

.welcome-text {
    grid-column: 1/9;
    order: 2;
    text-align: center;
    align-self: flex-start;
    width: 330px;
    margin: 0 auto;
}

.welcome-img {
    grid-column: 1/9;
    order: 1;
    max-width: 350px;
    margin: 0 auto;
}

.welcome-img > img {
    width: 100%;
}

.span-fp-style {
    font-weight: 800;
    background: var(--secondary-linear-gradient);
    color: var(--color-background);
    border-radius: 2px;
    font-size: 2.6em;
    margin-bottom: 20px;
    transform: rotate(-3deg); /* Adjust the degree of rotation as needed */
}

@media screen and (min-width: 620px) {
}
/* Large tablets and laptop styles */
@media screen and (min-width: 960px) {
    .welcome-text {
        grid-column: 1/5;
        order: 1;
        margin: 0;
    }

    .welcome-img {
        grid-column: 5/9;
    }

    .welcome-img {
        max-width: 700px;
    }

    .welcome-text {
        align-self: center;
        text-align: center;
        width: 400px;
        margin-left: 10px;
    }
}

/* Desktop styles */
@media screen and (min-width: 1200px) {
    .welcome-img {
        width: 105%;
    }
}
